.address-card {
    border: 1px gray solid;
    padding: 15px;   
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.address {
    font-style: italic;
    font-size: 15px;
}

.phone {
    border-left: 1px gray solid;
    padding-left: 5px;
}

button {
    background-color: red;
}

